{% extends "SVDSystem/base.html" %} {% block title%}
<title>Add Cameras</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{%endblock%} {% block navcontent%}
<li class="nav-item active">
  <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
</li>
{%endblock%} {% block navcontentleft%}
<li class="nav-item active">
  <a class="nav-link" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item active">
  <a class="nav-link" aria-current="page" href="{% url 'cameras' %}">Cameras</a>
</li>
{%endblock%} {% block content%}
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Logs</h5>
    </div>
    <div class="card card-body">
      <table class="table" id="log-list">
        <tr>
          <th>Camera</th>
          <th>Action</th>
          <th>Time</th>
          <th>Clip link</th>
        </tr>
        {% for i in logs %}
        <tr>
          <td>{{i.camera_number}}</td>
          <td>{{i.alert}}</td>
          <td>{{i.time}}</td>
          <td>{{i.clip_link}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<script>
  // Function to fetch logs from the server and update the table
  function fetchLogs() {
    $.ajax({
      url: '{% url "get_alert_logs" %}',
      method: "GET",
      success: function (data) {
        var logs = data.logs;
        var logList = $("#log-list");
        // Clear all rows except the header
        logList.find("tr:gt(0)").remove();
        for (var i = 0; i < logs.length; i++) {
          var log = logs[i];
          var newRow =
            "<tr>" +
            "<td>" +
            log.camera_number +
            "</td>" +
            "<td>" +
            log.alert +
            "</td>" +
            "<td>" +
            log.time +
            "</td>" +
            "<td>" +
            log.clip_link +
            "</td>" +
            "</tr>";
          logList.append(newRow);
        }
      },
    });
  }

  // Fetch logs initially
  fetchLogs();

  // Set interval to fetch logs every 5 seconds
  setInterval(fetchLogs, 5000);
</script>

{%endblock%}
