{% extends "SVDSystem\base.html" %} {% block title %}
<title>Home</title>
{% endblock %} {% block style %}
<style>
  #container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
  }
  #videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
    border-radius: 5px;
  }
</style>
{% endblock %} {% block navcontentleft%}
<li class="nav-item active">
  <a class="nav-link" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item active">
  <a class="nav-link" aria-current="page" href="{% url 'cameras' %}">Cameras</a>
</li>
<li class="nav-item active">
  <a class="nav-link" aria-current="page" href="{% url 'add_camera' %}"
    >Add Camera</a
  >
</li>
{% endblock%} {% block navcontent %}
<li class="nav-item active">
  <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
</li>
{% endblock %} {% block content %}
<nav class="navbar navbar-light bg-light">
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1" style="width: 200px"
      >Name User</span
    >
    <p type="text" class="form-control" aria-describedby="basic-addon1">
      {{request.user}}
    </p>
    <br />
  </div>
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1" style="width: 200px"
      >Time User Login</span
    >
    <p type="text" class="form-control" aria-describedby="basic-addon1">
      {{loginTime}}
    </p>
  </div>
</nav>

<div class="row">
  <div class="col"><img src="{% url 'cam0' %}" /></div>

  <div class="col"><img src="{% url 'cam1' %}" /></div>
  <div class="col"><img src="{% url 'cam2' %}" /></div>
</div>

{% comment %}
<script>
  var video = document.querySelector("#videoElement");

  if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices
      .getUserMedia({ video: true })
      .then(function (stream) {
        video.srcObject = stream;
      })
      .catch(function (err0r) {
        console.log("Something went wrong!");
      });
  }
</script>
{% endcomment %} {% endblock%}
